body {
    background-color: #2F303A;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    
    text-align: center;
    
}

button {
    padding: 1em;
    background-color: rgb(35, 94, 94);
    color: white;
    border-radius: 10px;
}

#calculator {
    padding: 1em;
    width: 1200px; 
    height: 800px;
}

input{
    margin: 1em;
}

p{
    text-align: center;
}

#quiz {
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    color: black;
    float: left;

}